.nav, .wrapper, #gallery{
  display: flex;
  flex direction: column;
}


body {
  background-color: lightgrey;
  font: normal 1.1em/1.5 sans-serif;
  width: 90%;
  margin: auto;
}
.banner {
  width: 100%;
  max-height: 450px;
}
header {
  border-bottom: 0 0 10px;
  border-color: #599a68;
}

img {
  max-width: 100%;
}
h1 {
  font-family: 'Changa One', sans-serif;
  margin: 10px 0;
  font-size: 1.75em;
  font-weight: normal;
}
h2 {
  font-family: 'Changa One', sans-serif;
  font-size: 1em;
  margin: -5px 0 0;
  font-weight: normal;
}
.nav, .wrapper {
  flex: 1;
  justify-content: space-around;
}

nav {
  margin-right: 0;
  width: auto;
  list-style: none;
}
nav li {
  display: inline;
  padding: 10px;
}
.navul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline-start: 0;
}
footer {
  font-family: 'Changa One', sans-serif;
  font-size: 1em;
  text-align: center;
  clear: both;
  padding-top: 50px;
}


social-icon{
  width: 30px;
  height: 30px;
  margin: 0 2.5%;
}
.wrapper {
  float: left;
  display: inline;
  margin: 0 0;
  padding: 0 0;
}
#gallery{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
  width: 100%;
}
#gallery li:nth-child(odd) img {
  border: 5px solid red;
}

#gallery li:nth-child(even) img {
  border: 5px solid blue;
}

/* media Queries*/

@media only screen and (min-width: 480px) {

  .nav {
    padding: 25px 1%;
    margin-bottom: 0;
  }
.navul {
  flex-direction: row;
}

/*#gallery{
  flex-direction: column;
  flex: 50%;
  max-width: 50%;
}*/

@media only screen and (min-width: 780px)
       only screen and (min-width: 700px) and (orientation: landscape) {

  #gallery{
    flex-direction: row;
    /*flex-wrap: wrap;*/
       }
  .li {
    padding: 10px;
  }
  .title {
    float: left;
    font-size: 1.4em;
  }

  .nav {
    float: left;
    width: auto;
  }

  .nav {
    padding: 15px 1%;
  }
  #gallery{
    flex-direction: column;
    flex: 50%;
    max-width: 50%;
  }
  #gallery li{
    padding-right: 10px;

  }

}

@media only screen and (min-width: 1140px) {

  .wrapper {
    width: 1026px;
    margin: 0 auto;
  }

  .title {
    font-size: 2em;
  }

  .nav{
    padding: 25px 1%;
    float: left;
  }
  #gallery{
    flex-direction: row;
  }
  #gallery li{
    padding-right: 10px;
  }

}


/*************************
Clearfix
*************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }

  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }

  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }

  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }

  fieldset {
    margin-bottom: 30px;
    border: none;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  label.light {
    font-weight: 300;
    display: inline;
  }

  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }

  @media screen and (min-width: 480px) {

    form {
      max-width: 480px;
    }

  }
